<ion-header class="ion-no-border">
  <ion-toolbar class="white-toolbar">
    <ion-buttons slot="start">
     <ion-back-button color="primary" text="">

     </ion-back-button>
    </ion-buttons>
    <ion-title>Security</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top ion-padding-bottom">
  <ion-list lines="full">
    <ion-item button [routerLink]="['/main/change-password']" >
      <ion-label>
       Change Password
      </ion-label>
    </ion-item>
 
    <ion-item>
      <ion-label>
        Use FaceID for Login
      </ion-label>
      <ion-toggle slot="end" color="primary"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
