<ion-header class="ion-no-border">
  <ion-toolbar class="transparent-toolbar ion-no-border">
    <ion-buttons slot="start">
      <ion-button color="secondary" slot="icon-only" (click)="presentCancelAlert()" *ngIf="currentStep == 1">
        <ion-icon color="primary" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="goToPrevious()" *ngIf="currentStep > 1 && currentStep < 3">
        <ion-icon color="primary" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="font-size: 14px;" color="primary">{{stepperTitle}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="secondary" slot="icon-only" (click)="presentCancelAlert()" *ngIf="currentStep > 1 && currentStep < 3">
        <ion-icon color="primary" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="transparent-toolbar ion-no-border">
    <div class="stepper-steps">
      <span class="stepper-step" [ngClass]="{'currentstep': currentStep ==1, 'activestep': currentStep >=1}">
  
      </span>
      <span class="stepper-step" [ngClass]="{'currentstep': currentStep ==2, 'activestep': currentStep >=2}">
  
      </span>
      <!-- <span class="stepper-step" [ngClass]="{'currentstep': currentStep ==6, 'activestep': currentStep >=6}">
  
      </span> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="shapes-bg" fullscreen>
 
  <div *ngIf="(pageData$ | async) as pageData" style="position: relative; height: 100%;">
    <div *ngIf="pageData.page == 1" style="height: 100%;" class="ion-padding"
      [@fadeSlideInOut]="{value: true, params: {enter: enterPercentage, leave: leavePercentage}}">
      <app-loan-amount-stepper (goNextEmitter)="goToNextPage($event)"></app-loan-amount-stepper>
    </div>
    <div *ngIf="pageData.page == 2" style="height: 100%;" class="ion-padding"
      [@fadeSlideInOut]="{value: true, params: {enter: enterPercentage, leave: leavePercentage}}">
      <loan-breakdown-stepper [btnText]="buttonText" [loanBreakdownData]="loanDetails" (goNextEmitter)="submitApplication()">
      </loan-breakdown-stepper>
    </div>
    <div *ngIf="pageData.page == 3" style="height: 100%;" class="ion-padding" 
    [@fadeSlideInOut]="{value: true, params: {enter: enterPercentage, leave: leavePercentage}}">
    <!-- <app-employment-information-stepper (goNextEmitter)="goToNextPage($event)"></app-employment-information-stepper> -->
      <div class="loan-success">
       <div class="loan-success-img">
        <ion-img src="assets/images/tick.png">

        </ion-img>
       </div>
        <p class="loan-success-text">
          You have sucessfully applied for a loan. Please await a feedback from our team
        </p>
  
        <ion-button (click)="close()" class="loan-success-btn" color="secondary">
          Okay
        </ion-button>
      </div>

  </div>
  </div>
</ion-content>
<!-- <ion-footer>
  <ion-button *ngIf="currentStep < 5" (click)="goToNextPage()" expand="block" color="secondary">Next</ion-button>
  <ion-button *ngIf="currentStep == 5" expand="block" color="secondary">Apply</ion-button>
</ion-footer> -->
