<ion-header class="ion-no-border">
  <ion-toolbar class="white-toolbar">
    <!-- <ion-title>Your Loans</ion-title> -->
   <ion-buttons>
    <ion-button mode="ios" class="new-loan-btn" fill="solid" (click)="presentApplyModal()" color="secondary">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      New loan
    </ion-button>
   </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/account/notifications']" class="notification-btn" slot="icon-only">
        <ion-icon color="secondary" src="assets/icon/notification-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar class="white-toolbar">
    <ion-segment (ionChange)="segmentChanged($event)" style="width: 100%;" [value]="selectedSegment">
      <ion-segment-button value="active">
        <ion-label>Active</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

</ion-header>
<ion-content class="ion-padding">
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="refreshLoans($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
   <ng-container *ngIf="!allLoans">
    <div class="loan-card active">
      <ion-skeleton-text slot="start" style="width: 30%;"   animated></ion-skeleton-text>
      <ion-skeleton-text slot="start" style="width: 50%; height: 25px;"   animated></ion-skeleton-text>
      <ion-skeleton-text class="ion-margin-top" slot="start"   animated></ion-skeleton-text>
      </div>
      <div class="loan-card active">
        <ion-skeleton-text slot="start" style="width: 30%;"   animated></ion-skeleton-text>
        <ion-skeleton-text slot="start" style="width: 50%; height: 25px;"   animated></ion-skeleton-text>
        <ion-skeleton-text class="ion-margin-top" slot="start"   animated></ion-skeleton-text>
        </div>
        <div class="loan-card active">
          <ion-skeleton-text slot="start" style="width: 30%;"   animated></ion-skeleton-text>
          <ion-skeleton-text slot="start" style="width: 50%; height: 25px;"   animated></ion-skeleton-text>
          <ion-skeleton-text class="ion-margin-top" slot="start"   animated></ion-skeleton-text>
          </div>
    <!-- <div class="loan-card active">
      <div class="flex" style="justify-content: space-between;">
        <ion-skeleton-text slot="start" style="width: 30%; height: 18px;"   animated></ion-skeleton-text>
        <ion-skeleton-text slot="start" style="width: 30%"   animated></ion-skeleton-text>
        </div>
       <hr>
       <div class="flex" style="justify-content: space-between;">
        <div style="width: 100%;">
          <ion-skeleton-text slot="start" style="width: 30%"   animated></ion-skeleton-text>
          <ion-skeleton-text slot="start" style="width: 20%"   animated></ion-skeleton-text>
        </div>
        <ion-skeleton-text slot="start" style="width: 30%; height: 10px;"   animated></ion-skeleton-text>
        </div>
    </div>
    <div class="loan-card active">
      <div class="flex" style="justify-content: space-between;">
        <ion-skeleton-text slot="start" style="width: 30%; height: 18px;"   animated></ion-skeleton-text>
        <ion-skeleton-text slot="start" style="width: 30%"   animated></ion-skeleton-text>
        </div>
       <hr>
       <div class="flex" style="justify-content: space-between;">
        <div style="width: 100%;">
          <ion-skeleton-text slot="start" style="width: 30%"   animated></ion-skeleton-text>
          <ion-skeleton-text slot="start" style="width: 20%"   animated></ion-skeleton-text>
        </div>
        <ion-skeleton-text slot="start" style="width: 30%; height: 10px;"   animated></ion-skeleton-text>
        </div>
    </div> -->
   </ng-container>
   <ng-container *ngIf="allLoans">
    <div *ngFor="let loan of allLoans" class="loan-card active remove-focus"  [routerLink]="['/main/single-loan', loan.loan_id]">
      <span class="loan-status">
        <ion-icon slot="icon-only" src="assets/icon/active-loan-icon.svg"></ion-icon>
        <!-- <ion-icon *ngIf="loan.loan_status == 2" color="success" slot="icon-only" name="checkmark"></ion-icon> -->
      </span>
      <ion-text color="white">
        <h6 style="font-size: 14px; font-weight: 300;" class="ion-no-margin">
          {{loan.loan_application_id}}
        </h6>
       </ion-text>
       <ion-text slot="start" color="white">
         <p class="loan-amount">
           {{loan.loan_principal_amount | currency: '₦'}}
         </p>
       </ion-text>
      <div class="loan-params--bottom">
        <div class="loan-param">
          <span class="loan-text">
           MONTHLY REPAYMENT
          </span>
          <span class="loan-value">
            {{loan.first_repayment_amount | currency: '₦'}}
           </span>
        </div>
        <div class="loan-param">
          <span class="loan-text">
           duration
          </span>
          <span class="loan-value">
            {{loan.loan_duration}}month(s)
           </span>
        </div>
      </div>
      <!-- <ion-item lines="none" class="ion-no-padding">
      
      <ion-label style="font-size: 14px; white-space: pre-wrap;" class="ion-no-margin" slot="end">
       {{loan.loan_application_id}}
      </ion-label>
      </ion-item>
       <ion-item lines="none" class="ion-no-padding">
         <ion-label slot="start">
           <ion-text color="primary">
             <span class="monthly-payment">
               {{loan.first_repayment_amount | currency: '₦'}}
             </span>
           </ion-text>
           <ion-note style="font-size: 12px;" color="medium">monthly</ion-note>
         </ion-label>
         <ion-label class="ion-no-margin" slot="end">
           <ion-note style="font-size: 12px;" color="medium">for {{loan.loan_duration}} month(s)</ion-note>
           <span style="display: block;">
             &nbsp;
           </span>
         </ion-label>
       </ion-item> -->
     </div>
    </ng-container>
</ion-content>
