<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon style="font-size: 20px;" src="assets/icon/home-tab-icon.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="loans">
      <ion-icon style="font-size: 20px;" src="assets/icon/loan-tab-icon.svg"></ion-icon>
      <ion-label>Loans</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon style="font-size: 20px;" src="assets/icon/user-tab-icon.svg"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
