<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon size="small" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="loans">
      <ion-icon size="small" name="folder-open"></ion-icon>
      <ion-label>Loans</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon size="small" name="person"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
