
ion-tab-bar{
    // --background: #ffffff;
    --background:  rgba(248, 248, 248, 1);
    --border: 0;
    // padding: 5px;
    // border-radius: 5px;
}

ion-tab-button {
    --color-selected: #F56B2A;

    // &.tab-selected {
    //     position: relative;
    //     &::after {
    //         content: '';
    //         position: absolute;
    //         bottom: 3px;
    //         left: 50%;
    //         transform: translateX(-50%);
    //         width: 4px;
    //         height: 4px;
    //         border-radius: 8px;
    //         background-color: #F56B2A;
    //     }
    // }
}