<ion-header class="ion-no-border">
  <ion-toolbar class="white-toolbar">
    <ion-buttons slot="start">
     <ion-back-button color="primary" icon="assets/icon/arrow-back.svg" text="">

     </ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="changePasswordForm" style="display: flex; height: 100%; flex-direction: column;">
    <ion-item class="ion-no-padding ion-margin-bottom">
      <ion-label color="medium" position="stacked">
        Old Password
      </ion-label>
      <!-- <ion-icon style="color: rgba(32, 27, 27, .5);" slot="start" name="keypad"></ion-icon> -->
     <ion-input formControlName="oldpassword" (keyup.enter)="setFocus(b)" autocomplete="none" autocapitalize="off" type="password" class="form-input"></ion-input>
     <small *ngIf="(formControls.oldpassword.dirty || formControls.oldpassword.touched) && formControls.oldpassword.errors" slot="error">Enter current password</small>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin-bottom">
      <ion-label color="medium" position="stacked">
       New Password
      </ion-label>
     <ion-input formControlName="newpassword" (ngModelChange)="updateConfirmValidator()" #b (keyup.enter)="setFocus(c)" autocomplete="none" autocapitalize="off" type="password" class="form-input"></ion-input>
     <small *ngIf="(formControls.newpassword.dirty || formControls.newpassword.touched) && formControls.newpassword.errors" slot="error">Enter new password</small>
    </ion-item>
    <ion-item class="ion-no-padding ion-margin-bottom">
      <ion-label color="medium" position="stacked">
        Confirm Password
      </ion-label>
     <ion-input formControlName="password_confirmation" enterkeyhint="done" #c (keyup.enter)="handleChangePassword()" autocomplete="none" autocapitalize="off" type="password" class="form-input"></ion-input>
     <small *ngIf="(formControls.password_confirmation.dirty || formControls.password_confirmation.touched) && formControls.password_confirmation.errors" slot="error">Passwords do not match</small>
    </ion-item>
    <ion-button [disabled]="loading" (click)="handleChangePassword()" type="button" style="margin-top: auto;" expand="block" color="secondary">
      <ion-spinner *ngIf="loading; else showText" name="bubbles"></ion-spinner></ion-button>
   </form>
</ion-content>


<ng-template #showText>
  Change Password
</ng-template>