.loan-amount {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 12px 0;
  }
  
  .loan-term {
    font-size: 8px;
    text-transform: capitalize;
    margin: 0;
  }
  
  .loan-term-wrapper {
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    // }
    --ion-grid-column-padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  
    &:nth-of-type(odd) {
      border-right: 1px dashed #707070;
    }
  }
  
  
  .loan-details-header {
    background-color: #F56C2A;
    padding: 5px 20px;
    border-radius: 10px 10px 0 0;
    text-align: end;
    color: #ffffff;
  }
  
  .loan-details-body {
    background-color: #F56C2A1C;
    padding: 0 20px 30px;
    border-radius: 0 0 10px 10px;
  }
  