<div class="stepper-content">
  <ion-text color="primary">
    <h3 class="stepper-title">
      Liveness Detection
    </h3>
  </ion-text>
  <p style="color: rgba(49, 49, 49, 0.49);">
    To verify your identity we need to run a recognition check which will be compared with your passport photograph.
  </p>
  <div style="display: flex; flex-direction: column; flex: 1;">
    <ng-container *ngIf="imageSrc; else showRules">
      <div style="border-radius: 17px; position: relative; width: 100%; height: 280px; background: #C4C4C4;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 17px; overflow: hidden;">
        <img style="object-fit: cover; border-radius: 17px;" width="100%" height="100%" [src]="imageSrc"
          alt="User Passport Photo" />

      <ion-button sty (click)="takePicture()" color="secondary" style="position: absolute; right: 0; bottom: 0; margin: 0;">
        <ion-icon name="camera"></ion-icon>&nbsp;Retake Picture
      </ion-button>
      </div>
      <ion-text color="danger">
        <p class="ion-text-center" *ngIf="showErrorLiveness">
          Couldn't verify image. Please retake picture in a properly lit environment
        </p>
      </ion-text>
      <ion-button *ngIf="imageSrc" class="stepper-progress-btn" color="secondary" (click)="performLivenessTest()">
        Proceed
      </ion-button>
    </ng-container>
  </div>
</div>
<ng-template #showRules>
  <div>
    <ion-text color="secondary">
      <p>To proceed, you need to take a selfie for biometric verification
      </p>
    </ion-text>
    <ion-text color="secondary">
      <ol>
        <li>Make sure you are in a well lit environment and your ears are uncovered</li>
        <li>Hold your device at eye level and look straight to the camera</li>
      </ol>
    </ion-text>
  </div>
  <ion-button (click)="takePicture()" class="stepper-progress-btn" color="secondary">
    <ion-icon name="camera"></ion-icon>&nbsp;Take Picture
  </ion-button>
</ng-template>
