<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border white-toolbar">
    <!-- <ion-buttons slot="start">
      <ion-back-button color="primary" icon="arrow-back" defaultHref="/login" text=""></ion-back-button>
    </ion-buttons> -->
    <ion-buttons slot="start">
      <!-- <ion-back-button color="primary" text=""></ion-back-button> -->
      <ion-button (click)="closeModal()">
        <ion-icon name="close" color="primary">

        </ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>Forgot Password</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
    <ng-container *ngIf="!passwordSent">
      <ion-text color="primary">
        <h3 class="stepper-title">
          Reset your account
        </h3>
      </ion-text>
      <ion-text color="medium">
        <p class="stepper-bigtext">
          Fill in your credentials to receive instructions to reset your password
        </p>
      </ion-text>
      <form autocomplete="off" [formGroup]="resetPasswordForm">
        <p *ngIf="resetPasswordForm.errors" class="ion-text-center">
          <ion-text color="danger">
           <small>{{resetPasswordForm.errors.message}}</small>
          </ion-text>
         </p>
        <ion-item class="ion-no-padding ion-margin-bottom">
          <ion-label color="medium" position="stacked">
            Username
          </ion-label>
          <ion-input style="text-transform: uppercase;" formControlName="username" (keyup.enter)="resetPassword()" autocapitalize="off" autocomplete="off" class="form-input">
          </ion-input>
          <small *ngIf="(formControls.username.dirty || formControls.username.touched) && formControls.username.errors" slot="error">Enter your username</small>
        </ion-item>
        <ion-button [disabled]="loading" type="button" (click)="resetPassword()" expand="block" color="secondary">
          <ion-spinner *ngIf="loading; else showText" name="bubbles"></ion-spinner>
        </ion-button>
      </form>
      <!-- <p class="ion-text-center">
        <ion-button class="remove-focus" [routerLink]="['/login']" type="button" fill="clear" color="primary">
          Back to Login
        </ion-button>
      </p> -->
    </ng-container>
    <ng-container *ngIf="passwordSent">
      <div class="reset-img">
        <ion-img src="assets/images/mail.png">

        </ion-img>
      </div>
      <p class="ion-text-center">
        We just sent an email with your new password to your registered email. If you don't receive an email, check your spam or <ion-text color="secondary">
          <span class="remove-focus" (click)="openEmail()">contact admin</span>
        </ion-text>
      </p>
      <!-- <ion-button class="remove-focus" type="button" [routerLink]="['/login']" expand="block" color="secondary">Back to Login</ion-button> -->
    </ng-container>
  </div>
</ion-content>
<ng-template #showText>
  Reset Account
</ng-template>