<div class="stepper-content">
  <ion-text color="primary">
    <h3 class="stepper-title">
      Your Employment Information
    </h3>
  </ion-text>
  <ion-text color="medium">
    <p class="stepper-bigtext">
      This data would be used for your future applications
    </p>
  </ion-text>
  <form [formGroup]="employmentForm" style="flex: 1; display: flex; flex-direction: column;">
    <ion-item lines="none" class="form-item ion-margin-bottom">
      <!-- <ion-label color="medium" position="stacked">
        Place of work
      </ion-label> -->
      <ion-icon color="icon" slot="end" size="small" src="assets/icon/employment-icon.svg"></ion-icon>
      <ion-textarea autocapitalize="on" placeholder="Place of work"  enterkeyhint="next" inputmode="text" formControlName="place_of_work" #a (keyup.enter)="openSelect(c)" class="form-input"></ion-textarea>
      <small
        *ngIf="(formControls.place_of_work.dirty || formControls.place_of_work.touched) && formControls.place_of_work.errors"
        slot="error">Enter place of work</small>
    </ion-item>
    <!-- <ion-item class="ion-no-padding ion-margin-bottom">
      <ion-label color="medium" position="stacked">
        IPPIS Number (optional)
      </ion-label>
      <ion-input enterkeyhint="next" formControlName="ippisnumber" #b (keyup.enter)="openSelect(c)" type="tel" class="form-input">
      </ion-input>
    </ion-item> -->
    <ion-item lines="none" class="form-item ion-margin-bottom">
      <!-- <ion-label color="medium" position="stacked">
        Salary Bank Name
      </ion-label> -->
      <!-- <ion-select formControlName="salary_bank_name" #c [interfaceOptions]="customActionSheetOptions"
        interface="alert">
        <ion-select-option *ngFor="let bank of banks" [value]="bank.bankcode">{{bank.name}}</ion-select-option>
      </ion-select> -->
      <ionic-selectable placeholder="Salary Bank Name" #c formControlName="salary_bank_name" [items]="banks" itemValueField="bankcode" itemTextField="name"
      [canSearch]="true">
      <ng-template ionicSelectableIconTemplate>
        <div class="selectable-icon" role="presentation">
          <div class="selectable-icon-inner"></div>
        </div>
      </ng-template>
    </ionic-selectable>
      <small
        *ngIf="(formControls.salary_bank_name.dirty || formControls.salary_bank_name.touched) && formControls.salary_bank_name.errors"
        slot="error">Select bank</small>
    </ion-item>
    <ion-item lines="none" class="form-item ion-margin-bottom">
      <!-- <ion-label color="medium" position="stacked">
        Salary Account Number
      </ion-label> -->
      <ion-icon color="icon" slot="end" size="small" src="assets/icon/bank-icon.svg"></ion-icon>
      <ion-input placeholder="Salary Account Number" type="text" inputmode="numeric" pattern="[-+]?[0-9]*[.,]?[0-9]+" formControlName="salary_bank_account" enterkeyhint="done" (keyup.enter)="goToNext()" type="tel"
        class="form-input"></ion-input>
      <small
        *ngIf="(formControls.salary_bank_account.dirty || formControls.salary_bank_account.touched) && formControls.salary_bank_account.errors"
        slot="error">Enter valid account number</small>
    </ion-item>
    <!-- <ion-item lines="none" class="ion-no-padding ion-margin-bottom">
      <ion-label style="white-space: pre-wrap; font-size: 14px;">
        I confirm that all records entered are accurate
      </ion-label>
      <ion-checkbox slot="start" formControlName="hasAgreed"></ion-checkbox>
      <small
        *ngIf="(formControls.hasAgreed.dirty || formControls.hasAgreed.touched) && formControls.hasAgreed.errors"
        slot="error">Please tick to continue</small>
    </ion-item> -->
    <ion-button type="button" (click)="goToNext()" class="stepper-progress-btn" color="secondary">submit</ion-button>
  </form>
</div>
