<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/main/account/notifications']" routerLinkActive="router-link-active"  class="notification-btn" slot="icon-only">
        <ion-icon color="secondary" src="assets/icon/notification-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="" [scrollY]="false">
 <div class="ion-margin-top ion-padding">
  <ion-item class="avatar-section" lines="none">
    <ion-label>
     <ion-img [src]="user.borrower_photo || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"></ion-img>
     <h2 class="ion-text-center" style="margin: 10px 0 5px; font-size: 24px; font-weight: 700;">{{user?.borrower_firstname}} {{user.borrower_lastname}}</h2>
     <p class="ion-text-center" style="margin: 5px 0;">{{user?.borrower_email}}</p>
    </ion-label>
  </ion-item>
  <ion-grid class="ion-margin-top ion-margin-bottom quicklinks">
    <!-- <ion-row class="ion-margin-bottom">
      <ion-col class="ion-text-center" size="4">
        <div class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/account-profile-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Edit Profile</ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/liquidate-loan-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Liquidate Loan</ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div (click)="presentActionSheet()" class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/support-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Support</ion-label>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <!-- <ion-col class="ion-text-center" size="4">
        <div class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/account-letter-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Account Letter</ion-label>
      </ion-col> -->
      <ion-col class="ion-text-center" size="4">
        <div [routerLink]="['/main/account/statement-account']" class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/statement-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Account Letter</ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div [routerLink]="['/main/account/security-settings']" class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/security-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Security</ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <div (click)="presentActionSheet()" class="account-btn remove-focus">
          <ion-icon style="font-size: 22.5px;" src="assets/icon/support-icon.svg"></ion-icon>
        </div>
        <ion-label style="font-size: 13px;">Support</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item class="logout-btn" detail="false" color="secondary" (click)="logUserOut()" button>
    <ion-icon size="small" src="assets/icon/logout-icon.svg" slot="end"></ion-icon>
    <ion-label>
      Sign Out
    </ion-label>
  </ion-item>
  <!-- <ion-button  type="button" expand="block" color="secondary">
    <span slot="start">
      Sign out
    </span>
    <ion-icon slot="end" src="assets/icon/logout-icon.svg"></ion-icon>
  </ion-button> -->
  <!-- <ion-list class="ion-margin-top" lines="full">
    <ion-item button [routerLink]="['/main/account/statement-account']">
      <ion-icon size="small" color="primary" name="document-outline" slot="start"></ion-icon>
      <ion-label>
        Request Statment
      </ion-label>
    </ion-item>
 
    <ion-item button (click)="presentActionSheet()">
      <ion-icon size="small" color="primary" name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>
        Support
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/main/account/security-settings']" button>
      <ion-icon size="small" color="primary" name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>
        Security Settings
      </ion-label>
    </ion-item>
    <ion-item (click)="logUserOut()" button>
      <ion-icon size="small" color="primary" color="danger" name="exit-outline" slot="start"></ion-icon>
      <ion-label>
        Sign Out
      </ion-label>
    </ion-item>
  </ion-list> -->
 </div>
</ion-content>


<ion-modal
(didDismiss)="showSupportModal = false"
  [isOpen]="showSupportModal"
  [breakpoints]="[0, 0.2, 0.5]"
  [initialBreakpoint]="0.2"
>
  <ng-template>
    <ion-content class="ion-padding">
      <support-methods></support-methods>
    </ion-content>
  </ng-template>
</ion-modal>